/*--ЗАМЕНИТЬ НА ФОРМУ ВВОДА EMAIL */
.subscribe-block {
    position: relative;
    display: flex;
    width: 50%;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: grey;
}

/*--ЗАМЕНИТЬ НА ФОРМУ ВВОДА ИМЕНИ И EMAIL */
.name-email-block {
    position: relative;
    display: flex;
    width: 75%;
    height: 95%;
    background-color: #e5e5e5;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: darkgray;
    font-size: 90%;
    padding-top: 2%;
    border: 0; 
    text-align: center;
    padding-bottom: 2%;
    min-height: 2vh;
}
.name-email-block:focus{
    text-align: start;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 0;
}

/*--ЗАМЕНИТЬ НА ФОРМУ ВВОДА СООБЩЕНИЯ */
.message-block {
    position: relative;
    display: flex;
    width: 87.5%;
    height: 80%;
    background-color: #e5e5e5;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: darkgray;
    border: 0; 
    text-align: center;
    min-height: 7vh;
}
.message-block:focus{
    text-align: start;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 0;
}