footer {
    display: flex; 
    width: 100%; 
    background-color: #313030;
    padding-top: 1vh;
}
@media (max-width: 767px){
    footer{
        flex-direction: column;
    }
}

.copyright {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    width: 65%;
    padding-left: 10%;
}
@media (max-width: 767px){
    .copyright{
        justify-content: center;
        padding-left: 0;
        width: 100%;
    }
}

.partners-container {
    display: flex;
    justify-content: end;
    align-items: center;
}
@media (max-width: 992px) {
    .partners-container {
        justify-content: start;
        width: 50%;
    }
}
@media (max-width: 767px) {
    .partners-container {
        justify-content: center;
        width: 100%;
    }
}
.partners {
    height: 3vh; 
    margin-left: 20px;
}
@media (max-width: 767px) {
    .partners {
        margin-left: 0;
    }
}