.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal:target{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease 0s;
}

.modal_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.modal_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px 30px 10px;
}
.modal_container{
    display: flex;
    padding-top: 5vh;
}
.modal_content{
    background-color: white;
    color: black;
    max-width: 800px;
    padding: 2vh;
    position: relative;
    border-radius: 10px;
}
.modal_close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.modal_title{
    display: block;
    font-size: 36px;
    margin: 0px 0px 5vh 0px;
    text-align: center;
}
.modal_text{
    display: flex;
    width: 60%;
}
.modal_image{
    display: flex;
    width: 40%;
}
.modal_image img{
    display: block;
	width: 100%;
    min-height: 100%;
    overflow: hidden;
    object-fit: cover;
}
